# Configurações da Evolution API
EVOLUTION_API_URL=https://evolution.criativamaisdigital.com.br/message/sendMedia/criativa-suporte
EVOLUTION_API_KEY=D2D6BA530A73-4DF0-8AB3-78BD2C514C12
PHONE_NUMBER=556181435045@s.whatsapp.net

# Configurações da aplicação
PORT=5000
DEBUG=false 