# Configurações da Evolution API
EVOLUTION_API_URL=https://evolution.criativamaisdigital.com.br/message/sendMedia/comercial-criativa
EVOLUTION_API_KEY=60418014C55C-49C2-BA7D-1FBD30596AE7
PHONE_NUMBER=556182002294@s.whatsapp.net

# Configurações da aplicação
PORT=5000
DEBUG=false 